/* Header */

#header {
  display: block;
  width: 100%;
  background-color: rgba(26, 26, 26, 0.6);
  font-family: "Exo 2", Arial, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  min-height: 40px;
  height: 4%;
}

.link-text {
  width: 25%;
  float: left;
  margin-left: 10px;
  font-family: "Ebrima";
  overflow: hidden;
  display: inline-block;
  max-width: 200px;
  min-height: inherit;
  height: 100%;
  background: rgba(26, 26, 26, 0.6) none repeat scroll 0% 0%;
}

.link-text:hover {
  background: rgba(26, 26, 26, 0.9) none repeat scroll 0% 0% !important;
  opacity: 0.9;
}

.link-text a {
  width: 100%;
  height: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* Footer */

#links {
  margin-top: 60px;
  border-top: 2px solid lightgray;
  background-color: floralwhite;
  opacity: 0.6;
  font-family: Arial;
  text-align: center;
  padding: 0 10px 0 10px;
}

#links table {
  display: inline-block;
  padding: 0 10% 20px 10%;
}

#links tr {
  height: 25px;
}

#links th {
    font-size: 18px;
    line-height: 3;
    letter-spacing: 1.25px;
}

#links td, #links td a {
  font-size: 12px;
  text-decoration: underline;
  color: dimgrey;
}

#links td:hover, #links td a:hover {
  opacity: 0.9;
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

footer {
  overflow: hidden;
  background-color: #222222;
  color: #777777;
  font-size: 11px;
  font-family: Arial, sans-serif;
  line-height: 0.9;
}

#copyright {
  text-align: left;
  float: left;
  margin-left: 20px;
}

#contact{
  margin-right: 20px;
  float: right;
  text-align: right;
}

#contactEmail {
  color: #e47f13;
}

/* Screen size adjustments */

@media only screen and ( max-width : 1080px ) {
  .link-text {
    min-width: 50px;
    max-width: 17%;
  }

  .link-text a {
    font-size: 11px;
    line-height: 1.3;
  }

  #links table {
    padding: 0 4% 20px 4%;
  }

  #copyright, #contact {
    font-size: 11px;
  }
}

@media only screen and ( min-width : 2000px ) {
  .link-text {
    margin: 0 5px 0 5px;
  }

  .link-text a {
    font-size: 18px;
  }

  #links table {
    padding: 0 12% 20px 12%;
  }
}

@media only screen and ( min-height : 1800px ) {
  .link-text {
    margin: 0 7px 0 7px;
  }

  .link-text a {
    font-size: 22px;
  }

  #copyright, #contact {
    font-size: 18px;
  }
}
