#title {
  font-family: Helvetica;
  font-size: 48px;
  margin: 30px 0 0 0;
}

#subtitle {
  font-size: 32px;
  margin: 0 0 30px 0;
}

.mainbody p, .mainbody li {
  line-height: 22px;
}

.ref {
  color: lightblue;
}

.maintext {
  font-family: Verdana;
  font-size: 16px;
  padding: 50px;
  margin-bottom: 150px;
}

.mainbody {

}

.question {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
